.group-tracker-nav {
  background-color: var(--secondary);
  display: inline-flex;
  height: 100%;
  gap: 0.5em;

  .btn {
    display: inline-flex;
    gap: 0.15em;
  }
}

.group-tracker {
  align-self: stretch;
}

.group-tracker-jump-prev {
  flex-direction: row-reverse;
}
